:root {
  --Red: hsl(0, 100%, 74%);
  --Green: hsl(154, 59%, 51%);
  --Blue: hsl(248, 32%, 49%);
  --Dark-Blue: hsl(249, 10%, 26%);
  --Grayish-Blue: hsl(246, 25%, 77%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
.error-text,
.error-icon {
  display: none;
}
.field.error .error-text,
.field.error .error-icon {
  display: block;
}
.field.error input {
    border: 2px solid var(--Red);
}
#intro {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/bg-intro-mobile.png);
  background-color: var(--Red);
  padding: 100px 0;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0 30px;
  max-width: 1300px;
  margin: 0 auto;
}
.left-col {
  flex: 1;
  margin-bottom: 50px;
}
.left-col h1 {
  color: white;
  margin-bottom: 30px;
  font-size: 27px;
}
.left-col p {
  color: white;
  opacity: 0.8;
  line-height: 1.8;
}
.right-col {
  flex: 1;
}
.right-col .top-box {
  background-color: var(--Blue);
  color: white;
  padding: 15px 70px;
  border-radius: 15px;
  box-shadow: 0 7px hsla(249, 10%, 26%, 0.404);
  margin-bottom: 30px;
}
.right-col .top-box p span {
  font-weight: 700;
}
.right-col .top-box p .right {
  color: white;
  opacity: 0.8;
  font-weight: 300;
}
.right-col .form-container {
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 7px hsla(249, 10%, 26%, 0.404);
}
.field {
  position: relative;
  margin-bottom: 25px;
}
.right-col label {
  display: none;
}
.right-col input,
.right-col button {
  width: 100%;
  height: 60px;
  margin-bottom: 5px;
  border-radius: 8px;
  border: 1px solid var(--Grayish-Blue);
  padding-left: 15px;
  outline: none;
  color: var(--Dark-Blue);
  font-size: 14px;
  font-weight: 600;
}
.right-col input:focus {
  border: 2px solid hsl(249, 10%, 26%);
}
.right-col input::placeholder {
  color: var(--Grayish-Blue);
}
.right-col button {
  background-color: var(--Green);
  border: none;
  color: white;
  box-shadow: 0px 4px hsl(154, 59%, 44%);
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-left: 0;
  margin-bottom: 30px;
  cursor: pointer;
  transition: 0.3s;
}
.right-col button:hover {
  background-color: hsl(154, 86%, 63%);
}
.right-col .form-footer {
  color: var(--Grayish-Blue);
  font-size: 12px;
  font-weight: 700;
}
.right-col .form-footer span {
  color: var(--Red);
}
.error-icon {
  position: absolute;
  top: 28%;
  right: 20px;
}
.error-text {
  text-align: right;
  font-size: 12px;
  font-weight: 500;
  font-style: italic;
  color: var(--Red);
}

@media (min-width: 1000px) {
  #intro {
    background-image: url(../images/bg-intro-desktop.png);
  }
  .container {
    flex-direction: row;
  }
  .left-col {
    text-align: left;
    padding-right: 50px;
  }
  .left-col h1 {
    font-size: 45px;
    line-height: 1.3;
  }
  .left-col p {
    font-size: 17px;
  }
  .right-col {
    max-width: 600px;
  }
  .right-col .form-container {
    padding: 40px;
  }
  .right-col .form-footer {
    margin-bottom: 15px;
  }
}
